*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back{
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container{
  background-color: crimson;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.square{
  height: 49px;
  width: 49px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
.color{
  background-color: rgb(215, 152, 33);

}